<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"/>
      <!-- shrink-to-fit=no -->
    <title>title</title>
  </head>
  <body class="mat-app-background">
    <div class="page">
        <h1>CLOCK</h1>
        <div  class="menu-container" >
            <button mat-raised-button class="clock type1">WORLD CLOCK</button>
            <button mat-raised-button class="clock type2">ALARM</button>
            <button [routerLink]="'/stopwatch'" mat-raised-button class="clock type3">STOPWATCH</button>
            <button [routerLink]="'/timer'" mat-raised-button class="clock type4">TIMER </button>
        </div>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
    </div>
  </body>
</html>



