<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Clock</title>
  </head>

  <body>
    <div class="page">
        <h1>Clock</h1>
        <div class="container" >
            <div class="clock type1">World Clock</div>
            <div class="clock type2">Alarm</div>
            <div class="clock type3">Stopwatch</div>
            <div class="clock type4">Timer</div>
        </div>
        <div class="content">
          <div class="box"> box</div>
        </div>
      <!-- <div class="cabecera__bloque1"></div> -->
      <!-- <div class="cabecera__bloque2"><h1>Clcck</h1></div> -->
    </div>
    <!-- <article class="articulo">
      <p>
      </p>
    </article> -->
  </body>
</html>


<router-outlet></router-outlet>
