<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"/>
      <!-- shrink-to-fit=no -->
    <title>title</title>
  </head>
  <body class="mat-app-background">
    <div class="page">
        <h1>Clock</h1>
        <div  class="menu-container" >
            <button mat-raised-button class="clock type1">World Clock</button>
            <button mat-raised-button class="clock type2">Alarm</button>
            <button mat-raised-button class="clock type3">Stopwatch</button>
            <button mat-raised-button class="clock type4" (click)="myFunction('hello')">Timer</button>
        </div>
        <div class="content">
          <!-- <div class="box"> box</div> -->
          <app-timer>
          </app-timer>
        </div>
    </div>
  </body>
</html>


<router-outlet></router-outlet>
