@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

:host {
    width:80%;
}

.container1{
    display:flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size:7.0em;
    line-height: 1.4;
}


.sound-container{
    align-self: center;
    justify-content: center;
    /* width: 20%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-width: 100px; */
}


.block {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    

    font-family: 'Karla', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.4;

    
}

.text1, .text2 {
    font-size: 3.4em;
    height:90px; 
    padding-top: 0px;
    padding-bottom: 0px;

    justify-content: center;
    align-items: center;
}

.h1{
    font-size: 3.4em;
    height:90px; 
    padding-top: 0px;
    padding-bottom: 0px;

}

.type1, .type2, .type3 {
    height:90px; 
    width: 90px;
}

.container2{
    display: flex;
    justify-content: center;
}

input.mat-input-element {
    height:70px;
    width: 70px;
    background-color:white;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.mat-focused .placeholder {
    color: transparent;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin: 10px;
    font-family: 'Karla', sans-serif;
    color: black;
    font-size:1.8em;
    width:6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.80);
}
.start{
    border: 2px solid #4CAF50;
}

.stop{
    border: 2px solid red;
}

.restart{
    border: 2px solid rgb(41, 113, 247);
}

@media screen and (max-width:720px){
    .container1 span{
        font-size: 0.7em;
        
    }
  }




